src/assets/textures/earthspecs.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/textures/earth-bump.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/textures/earth-cloud.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/textures/earthcloudmaptrans.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/textures/earth-daymap.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/textures/earth-nightmap.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/textures/solarSystem/2k_uranus.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/textures/solarSystem/2k_mars.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/textures/solarSystem/2k_moon.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/textures/solarSystem/2k_neptune.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/textures/solarSystem/2k_sun.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/textures/solarSystem/2k_venus_surface.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/textures/solarSystem/2k_jupiter.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/textures/solarSystem/2k_mercury.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/textures/solarSystem/2k_saturn.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/textures/solarSystem/2k_stars_milky_way.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/textures/solarSystem/2k_saturn_ring_alpha.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
